@model BoVoyage.Models.Personne

@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-center mb-3">Mon Profil</h1>
<div class="row justify-content-center">
    <div class="col-md-9">
        <div class="card">
            <div class="card-body">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-row">

                        <div class="form-group col">
                            <label asp-for="Civilite" class="control-label"></label>
                            <select asp-for="Civilite" class="form-control mr-sm-2 mb-2">
                                <option value="Mr">Monsieur</option>
                                <option value="Mme">Madame</option>
                            </select>
                        </div>
                        <div class="form-group col">
                            <label asp-for="Datenaissance" class="control-label"></label>
                            <input asp-for="Datenaissance" class="form-control" />
                            <span asp-validation-for="Datenaissance" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label asp-for="Nom" class="control-label"></label>
                            <input asp-for="Nom" class="form-control" />
                            <span asp-validation-for="Nom" class="text-danger"></span>
                        </div>
                        <div class="form-group col">
                            <label asp-for="Prenom" class="control-label"></label>
                            <input asp-for="Prenom" class="form-control" />
                            <span asp-validation-for="Prenom" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">

                        <div class="form-group col">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group col">
                            <label asp-for="Telephone" class="control-label"></label>
                            <input asp-for="Telephone" class="form-control" />
                            <span asp-validation-for="Telephone" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group d-flex justify-content-center">
                        <a asp-action="Details" class="btn btn-secondary mr-3">Retour</a>
                        <input type="submit" value="Valider" class="btn btn-success" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
