@{
    ViewData["Title"] = "A propos de Bo Voyage";
}
<h1 class="text-center mb-3">@ViewData["Title"]</h1>

<div class="row justify-content-center mb-3">
    <div class="col-md-9">
        <div class="card">
            <div class="card-header">
                <h4>Qui sommes-nous ?</h4>
            </div>
            <div class="card-body text-justify">
                <p>
                    BoVoyage est un prestataire de service qui met à la disposition du public une liste de tous les
                    voyages invendus par les agences de voyage.<br /><br />
                    Il propose différentes formules de voyages/vacances à des prix soldés. La remise peut aller jusqu’à
                    50 % du prix public normalement pratiqué par les agences de voyage.<br /><br />
                    Les prix pratiqués par BoVoyage s’expliquent par le fait que les dates de départ et de retour sont
                    imposées et très souvent imminentes. Le futur client doit donc être prêt à partir au plus tard dans les
                    quinze jours qui suivent sa réservation.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center mb-3">
    <div class="col-md-9">
        <div class="card">
            <div class="card-header">
                <h4>Informations sur le système de réservation et les promotions</h4>
            </div>
            <div class="card-body text-justify">
                <p>
                    Lorsqu'un client réserve un voyage, son numéro de carte bancaire est requis et un numéro de dossier
                    est attribué. Le dossier est mis en attente jusqu'à ce que la solvabilité du compte bancaire soit
                    assurée. Si le compte n'est pas approvisionné, la demande est abandonnée et le dossier est supprimé.
                    BoVoyage consulte alors l’agence concernée par le voyage commandé. Si le nombre de places
                    encore disponibles est suffisant, BoVoyage réserve les places demandées par son client et débite
                    son compte en banque du montant prévu. Dans le cas contraire, la commande passée est purement et
                    simplement annulée et le client est informé de cette annulation.<br /><br />

                    Le client est bien entendu tenu au courant de l’acceptation ou du refus de sa commande.
                    Toute commande passée par un client est considérée comme ferme et définitive. Le client a
                    cependant la possibilité de souscrire une assurance annulation pour le cas où il reviendrait sur sa
                    décision (le montant du voyage lui étant alors intégralement remboursé). Si cette assurance n’a pas
                    été souscrite lors de la commande, le client ne peut prétendre à aucun remboursement en cas
                    d’annulation de sa part.<br /><br />

                    BoVoyage se réserve le droit de conserver les coordonnées de ses clients (civilité, nom, prénom, adresse, téléphone).<br /><br />

                    Les enfants de moins de douze ans bénéficient d'un tarif réduit, correspondant à 60 % du prix
                    de l'offre.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="text-justify">
    
    


    
</div>