@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmation d'inscription";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {

<p>
    Cette application n'a pas pas de service mail pour envoyer de mail de confirmation.
</p>

    <p>
        Cette application n'a pas pas de service mail pour envoyer de mail de confirmation.
        <a id="confirm-link" href="@Model.EmailConfirmationUrl">Cliquer ici pour confirmer votre compte.</a>
    </p>

    }
    else
    {
<p>
        Veuillez vérifier votre boîte mail pour le mail de confirmation.
</p>
    }
}
