@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmation renouvellement du mot de passe";
}

<h1>@ViewData["Title"]</h1>
<p>
    Votre mot de passe a bien été modifié. Veuillez cliquer sur <a asp-page="./Login">ici</a> pour vous connecter.
</p>
