@model BoVoyage.Models.Dossierresa

@{
    ViewData["Title"] = "Paiement";
}

<h1 class="text-center ">Réservation</h1>

<div class="row justify-content-center">
    <div class="col-md-9">
        <div class="card">
            <div class="card-header">
                <h2>Paiement</h2>
            </div>
            <div class="card-body">
                <h5 class="card-title">Prix Total</h5>
                <p>Montant total TTC : <span class="font-weight-bold">@ViewBag.Prix</span> €</p>
                <h5 class="card-title">Carte Bleue</h5>
                <form asp-action="ValiderResa">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="NumeroCb" class="control-label"></label>
                        <input asp-for="NumeroCb" class="form-control" />
                        <span asp-validation-for="NumeroCb" class="text-danger"></span>
                    </div>
                    <h5 class="card-title">Souscrire à une assurance</h5>
                    <div class="custom-control custom-checkbox">
                        <input asp-for="Assurance" class="custom-control-input" />
                        <label asp-for="Assurance" class="custom-control-label"></label>
                    </div>
                    <div class="form-group d-flex justify-content-center">
                        <input type="submit" value="Valider" class="btn btn-success">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
    

    

