<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BoVoyage</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                @if (User.IsInRole("Manager") || User.IsInRole("Admin"))
                {
                    <a class="navbar-brand text-light" asp-area="Office" asp-controller="Dashboard" asp-action="Index">BoVoyage</a>
                }
                else
                {
                    <a class="navbar-brand text-light" asp-area="" asp-controller="Home" asp-action="Index">BoVoyage</a>
                }
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">

                        @if (User.IsInRole("Manager") || User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="Office" asp-controller="Dashboard" asp-action="Index">Tableau de Bord</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="Office" asp-controller="Destinations" asp-action="Index">Destinations</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="Office" asp-controller="Voyages" asp-action="Index">Voyages</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="Office" asp-controller="Dossierresas" asp-action="Index">Dossier Réservation</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="Office" asp-controller="Personnes" asp-action="Index">Clients</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="Client" asp-controller="Voyages" asp-action="Index">Liste de voyages</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="AProposDe">A propos de nous</a>
                            </li>
                        }
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="Office" asp-controller="Managers" asp-action="Index">Commerciaux</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container-fluid">
            <div class="row">
                <div class="col text-center font-weight-bold text-wrap height">
                    &copy; 2020 - BoVoyage - Projet GTM Ingenierie<br />
                    Florentin DEROSNE - Dorian GUILLAUME - Aurore LÊ
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
